<%= render 'pages/home' unless user_signed_in? %>

<% if user_signed_in? %>
<h1 style="color:white">My Project's Tasks</h1>
 <h4 style="color:white"> <%= link_to 'New Task', new_pin_path, :class => 'btn btn-mini btn-info' %> </h4>
<% end %>

<% if user_signed_in? %>
<div class="panel panel-default">
<table class="table table-striped">
  <thead>
    <tr>
      <th>Description</th>
      <th>Date Created</th>
      <th>Type</th>
      <th>Priority</th>
      <th>Actions</th>
    </tr>
  </thead>
<% end %>

  <tbody>
    <% @pins.each do |pin| %>
     <% if pin.user == current_user %>
        <tr>
            <td><%= pin.description %></td>
            <td><%= pin.created_at %></td>
            <td></td>
            <td></td>
            <td>
            <%= link_to 'Show', pin_path(pin), :class => 'btn btn-mini btn-default' %>
            <%= link_to 'Edit', edit_pin_path(pin), :class => 'btn btn-mini btn-default' %>
            <%= link_to 'Delete', pin, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-mini btn-danger' %> 
            </td>
            </div>
        <% end %>
      </div>
      </div>
    <% end %>
</div>
